@backcolor: @darkteal;
@textcolor: @lightteal;
@tripbox: @greenish;
@headertext: @pinkish;
@homeh1: @greyish;
@backendback: @favorite1;
@reactIIback: @favorite2;
@reactIback: @favorite3;
@webback: @favorite4;




@darkteal: rgba(93,93,90);
@lightteal: rgba(255,244,227);
@greenish: rgba(255,164,92);
@pinkish: rgba(254, 95, 85, 1);
@greyish: rgba(255,164,92,1);
@favorite1: rgba(255,205,171);
@favorite2: rgba(171,221,255);
@favorite3: rgba(255,205,171);
@favorite4: rgba(171,221,255);
@newColor: ffa45c;

// mobile view
@mobile: ~"(max-width: 500px)";
@tablet: ~"(max-width: 750px)";